.hero {
  background-color: transparent;
    text-align: center;
    padding: 60px 20px;
    font-family: 'Poppins', sans-serif;
    color: #444;
  }
  
  .contenido h1 {
    font-size: 2.5rem;
    color: #ff5e84;
    margin-bottom: 10px;
  }
  
  .contenido p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
.hero-logo {
  width: 180px;
  max-width: 90%;
  margin: 20px auto;
  display: block;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
