<section class="contacto">
    <h2>¡Contáctanos!</h2>
  
    <p>Puedes escribirnos por WhatsApp, seguirnos en Instagram o visitarnos en nuestro local.</p>
  
    <div class="redes">
        <a href="https://wa.me/50250827033" target="_blank" class="whatsapp">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://www.instagram.com/oasis_de.sabores/" target="_blank" class="instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://m.facebook.com/61575166491395/" target="_blank" class="facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.tiktok.com/@oasis_de_sabores" target="_blank" class="tiktok">
          <i class="fab fa-tiktok"></i>
        </a>
      </div>
      
  
    <div class="mapa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.155450716911!2d-90.59358255963465!3d14.590216477387884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a0979a79f37f%3A0x4d9e5f7531d1acf4!2s2a.%20Calle%2C%20Blvr.%20Pinares%20de%20San%20Crist%C3%B3bal.%2C%20Cdad.%20de%20Guatemala!5e0!3m2!1ses!2sgt!4v1746130903100!5m2!1ses!2sgt" 
        height="300"
        style="border:0; border-radius: 15px;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </section>
  